body {
    color: white;
    background: black;
    margin: 0 auto;

}



#main-header h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#main-header h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}


section.about {
    background: #292929;
    margin-top: -3%;
}

h3{
    color: blue;

}

p.about{
    padding: 2%;


}

.work{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.6;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("parallaxa/second.jpeg");
    min-height: 100%;
}
.bgimg-2 {
    background-image: url("parallaxa/pexels-photo-208147.jpeg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("images/header.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

