body {
    color: white;
    background: black;
    margin: 0 auto;

}



#main-header h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#main-header h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}


section.about {
    background: #292929;
    margin-top: -3%;
}

h3{
    color: blue;

}

p.about{
    padding: 2%;


}

.work{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("images/header1.jpg");
    min-height: 500px;
}
.bgimg-2 {
    background-image: url("images/header1.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("images/header1.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}
section#skills{
    background-color: snow;
}

section.projects{
    background-color: snow;

}
.bujton{
    margin-top: 5%;
    margin-left: 20%;
}
.projectFirst{
    background-image: url("images/modals/fitrunner.png");
    height: 300px;
}
.projectSecond{
    background-image: url("images/modals/landingpage.png");
}

.projectThird{
    background-image: url("images/modals/fitstyleApp.png");
}

.projectFourth{
    background-image: url("images/modals/domosfera.gif");
}
.galleryElements {
    padding-right: 0;
    padding-left: 0;
    padding-top: 7vh;
}

.galleryElement {
    position: relative;
    height: 250px;
    width: auto;
    min-height: 180px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
}
.galleryName {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    top: 220px;
    cursor: pointer;
}

.galleryElement p {
    height: 50px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
}

.gallery-plus {
    display: none;
    margin-top: 15px;
    color: #fff;
}

.modal-content {
    background-color: #2D303B;
    border-radius: 0;
}

.modal-preview {
    height: auto;
    width: 100%;
}

.projectName {
    color: #d2cfcf;
}


.projectButtons {
    text-align: center;
    padding-top: 2vh;
}

